<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="dark">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Client Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showMore($event)" color="dark">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{client.image}}" />
        </ion-avatar>
        <ion-button (click)="editProfileImg()" color="light" *ngIf="!loading">Edit Profile Image</ion-button>
        <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder="John Doe" type="text" [(ngModel)]="client.name" autocapitalize="on" autocomplete="name"
          autocorrection="on" (ionChange)="save()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact #</ion-label>
        <ion-input placeholder="123-456-7890" type="tel" [(ngModel)]="client.phone_number" autocapitalize="on"
          autocomplete="name" autocorrection="on" (ionChange)="save()"></ion-input>
      </ion-item>
      <div *ngIf="accountType == 1">
        <ion-item>
          <ion-label position="floating">Breed</ion-label>
          <ion-input placeholder="Shih Tzu" type="text" [(ngModel)]="client.breed" autocapitalize="on"
            autocomplete="name" autocorrection="on" (ionChange)="save()"></ion-input>
        </ion-item>
        <br />
        <ion-segment [(ngModel)]="client.temperament" (ionChange)="save()">
          <ion-segment-button value="0">
            <ion-label>Gentle</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>Mild</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>Aggressive</ion-label>
          </ion-segment-button>
        </ion-segment>
        <br />
      </div>
      <ion-button expand="block" color="dark" (click)="showVisits(null)">Add Visit</ion-button>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let visit of client.visits" style="padding: 1px">
            <img *ngIf="visit.image" class="img-wrapper" src="{{visit.image}}" (click)="showVisits(visit)" />
            <img *ngIf="!visit.image" (click)="showVisits(visit)" class="img-wrapper"
              src="https://via.placeholder.com/1024x1024.jpg?text={{visit.date}}" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>