<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="modalCtrl.dismiss()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Client Color</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-chip style="background-color: #ff9aa2"></ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #ffb7b2"></ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #ffdac1"></ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #aaccfb"></ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip style="background-color: #e2f0cb"></ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #b5ead7"></ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #c7ceea"></ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #fceea8"></ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
