<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="modalCtrl.dismiss()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Appointment Details</ion-title>
    <ion-buttons slot="end" color="dark">
      <ion-button (click)="edit()" color="dark">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img *ngIf="app.pet.image" [src]="app.pet.image" />
      <img *ngIf="!app.pet.image" [src]="app.client | clientByID:'img'" />
      <ion-card-title>{{ app.client | clientByID }}</ion-card-title>
      <ion-card-subtitle>{{
        app.date | date: "MMM d, y, h:mm a"
      }}</ion-card-subtitle>
      <!--<ion-card-subtitle
        >Stylist: <span *ngIf="app.stylist">{{ app.stylist }}</span
        ><span *ngIf="!app.stylist">None</span>
      </ion-card-subtitle>-->
      <ion-card-subtitle><span *ngIf="!app.pet.name">Pet: {{ app.pet }}</span><span *ngIf="app.pet.name">Pet:
          {{ app.pet.name }}</span></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h3>{{ app.service.name }} - {{ app.service.price }}</h3>
      <h6 *ngIf="app.service.time">{{app.service.time.hours.text}} {{app.service.time.minutes.text}}</h6>
      <br />
      {{app.client | clientByID: 'address'}}, {{app.client | clientByID: 'address2'}}
      <br>
      <h6 *ngIf="app.cancelled && false">
        <ion-icon name="close-circle-outline"></ion-icon> Cancelled
      </h6>
      <h6 *ngIf="app.confirmed && false">
        <ion-icon name="checkmark-circle-outline"></ion-icon> Confirmed
      </h6>
      <h6 *ngIf="!app.cancelled && !app.confirmed && app.notified && false">No Response from Confirmation</h6>
      <h6 *ngIf="!app.notified && false">Not Notified</h6>
    </ion-card-content>
  </ion-card>
</ion-content>