<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="modalCtrl.dismiss(pets)" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let pet of pets; let index = index">
    <ion-card-header>
      <ion-card-subtitle>Pet Details</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{pet.image}}" *ngIf="pet.image" />
          <img src="https://ui-avatars.com/api/?background=f3f3f3&name=" *ngIf="!pet.image" />
        </ion-avatar>
        <ion-button (click)="editProfileImg(index)" color="light" *ngIf="!loading">Edit Profile Image</ion-button>
        <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
      </ion-item>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input placeholder="Ralph" type="text" [(ngModel)]="pet.name" autocapitalize="on" autocomplete="name"
          autocorrection="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Breed</ion-label>
        <ion-input placeholder="Shih Tzu" type="text" [(ngModel)]="pet.breed" autocapitalize="on" autocomplete="name"
          autocorrection="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input autocapitalize="on" placeholder="Ralph" type="number" [(ngModel)]="pet.weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fully Vaccinated?</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="pet.isFullyVaccinated"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Active</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="pet.isActive"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Birthday</ion-label>
        <ion-datetime displayFormat="MMM DD YY" placeholder="Select Date" [(ngModel)]="pet.birthday"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Notes
        </ion-label>
        <ion-textarea autoGrow="true" autocapitalize="true" [(ngModel)]="pet.notes"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-segment [(ngModel)]="pet.temperament">
          <ion-segment-button value="0">
            <ion-label>Gentle</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>Mild</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>Aggressive</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-button expand="block" color="dark" (click)="remove(index)">Remove</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-icon name="add-circle" style="
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
    " size="large" color="medium" (click)="addPet()"></ion-icon>
</ion-content>