<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="goBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Account Details</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"> Name </ion-label>
        <ion-input placeholder="John Doe" [(ngModel)]="dbService.name" (ionChange)="save()" debounce="500"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input placeholder="John@doe.com" [(ngModel)]="email" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Service Area </ion-label>
        <ion-input placeholder="37090" [(ngModel)]="dbService.serviceArea" type="number" (ionChange)="save()">
        </ion-input>
      </ion-item>
      <ion-item [disabled]="!isPro">
        <ion-label>Appointment Push Notifications</ion-label>
        <ion-toggle [(ngModel)]="notifications" (ionChange)="save()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="notifications" [disabled]="!isPro">
        <ion-label>Minutes Before Appointment</ion-label>
        <ion-select [(ngModel)]="notificationsFrequency" (ionChange)="save()">
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
          <ion-select-option value="60">60</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [disabled]="!isPro" *ngIf="false">
        <ion-label>Client SMS Reminders</ion-label>
        <ion-toggle [(ngModel)]="remindersOn" (ionChange)="save()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="remindersOn" [disabled]="!isPro">
        <ion-label>Time Before Appointment</ion-label>
        <ion-select [(ngModel)]="reminderFrequency" (ionChange)="save()">
          <ion-select-option value="1">1 Day</ion-select-option>
          <ion-select-option value="3">3 Days</ion-select-option>
          <ion-select-option value="7">7 Days</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>