<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title color="dark"> Appointments </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addApp()" color="dark">
        <ion-icon style="opacity: 0.9" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon
          color="dark"
          style="opacity: 0.9"
          slot="icon-only"
          name="cog-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-toolbar>
    <ion-item>
      <ion-label>Filter By Stylist</ion-label>
      <ion-select placeholder="Select One" (ionChange)="filterByStylist()" [(ngModel)]="filterBy">
        <ion-select-option *ngFor="let item of stylists" value="{{item}}">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>-->
  <div #map id="map"></div>
</ion-content>
<lib-ionic-pullup
  (onExpand)="footerExpanded()"
  (onCollapse)="footerCollapsed()"
  [(state)]="footerState"
  [toolbarTopMargin]="275"
  [minBottomVisible]="50"
>
  <ion-toolbar color="danger" (click)="toggleFooter()" #ionDragFooter>
    <ion-title>
      <ion-icon name="menu"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let app of appointmentsShownOnMap"
        (click)="openSheet(app)"
      >
        <ion-thumbnail slot="start">
          <img [src]="app.client_id | clientByID:'img'" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{app.client_id | clientByID}}; {{app.location.address}}</h3>
          <h5 *ngIf="app.app.pet">For {{app.app.pet}}</h5>
          <!--<h5 *ngIf="app.app.stylist">Stylist: {{app.app.stylist}}</h5>-->
          <p>{{app.app.date | date: 'mediumDate'}}</p>
        </ion-label>
        <ion-chip [ngStyle]="{'background': app.color}">
          <ion-label color="light"
            >{{app.app.date | date:'shortTime'}}</ion-label
          >
        </ion-chip>
      </ion-item>
    </ion-list>
  </ion-content>
</lib-ionic-pullup>
