<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title color="dark"> Clients </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/tab2/add']" color="dark">
        <ion-icon style="opacity: 0.9" slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="openSettings()">
        <ion-icon
          color="dark"
          style="opacity: 0.9"
          slot="icon-only"
          name="cog-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-searchbar
      color="light"
      (ionInput)="search($event.target.value)"
      debounce="200"
      showCancelButton="focus"
      (ionCancel)="resetSearch()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item
      button
      detail
      *ngFor="let client of storage.clients"
      (click)="goToDetails(client)"
    >
      <ion-avatar slot="start">
        <img src="{{client.image}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{client.name}}</h2>
        <h3>{{client.phone_number}}</h3>
        <p style="text-overflow: ellipsis">{{client.email}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="!proMode && !dbService.bypassPro">
      <p style="opacity: 0.6; font-size: 14px">
        You have an account limit of {{(dbService.userLimit ?
        dbService.userLimit : dbService.proLimit)}} clients. To unlock unlimited
        clients, please consider subscribing via settings.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
