<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="z-index: 99">
    <ion-card-header>
      <ion-card-title> User Settings </ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item (click)="editAccount()" button detail>
        <ion-thumbnail slot="start">
          <img *ngIf="!dbService.photoURL"
            src="https://ui-avatars.com/api/?background=ffdac1&name={{dbService.email}}" />
          <img *ngIf="dbService.photoURL" src="{{dbService.photoURL}}" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{dbService.email}}</h3>
          <p>
            <span *ngIf="dbService.name">{{dbService.name}}</span><span *ngIf="!dbService.name">Name</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item detail button href="mailto:ashley@getclipped.app">
        <ion-label>Contact Us </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>App Version: {{version}}</ion-label>
      </ion-item>
      <ion-item button detail (click)="upgrade()" *ngIf="!storage.proMode && !dbService.bypassPro">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>Upgrade to Pro
      </ion-item>
    </ion-list>
  </ion-card>
  <a (click)="logout()" style="padding-left: 15px">
    <ion-icon name="exit-outline" slot="start"></ion-icon>
    Logout
  </a>
  <div class="person">
    <ng-lottie [options]=" options" (animationCreated)="animationCreated($event)">
    </ng-lottie>
  </div>
</ion-content>