<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        User Settings
      </ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item (click)="editAccount()" button detail>
        <ion-avatar slot="start">
          <img src="https://ui-avatars.com/api/?background=f3f3f3&name={{dbService.email}}">
        </ion-avatar>
        <ion-label>
          <h2>{{dbService.email}}</h2>
        </ion-label>
      </ion-item>
      <ion-item (click)="addToLimit()" button detail *ngIf="!storage.proMode && !dbService.bypassPro">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>Add 5 to Client Limit
      </ion-item>
      <ion-item button detail (click)="upgrade()" *ngIf="!storage.proMode && !dbService.bypassPro">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>Upgrade to Pro
      </ion-item>
      <ion-item>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle [(ngModel)]="darkMode" (ionChange)="toggleDarkMode()"
          [disabled]="!storage.proMode && !dbService.bypassPro"></ion-toggle>
      </ion-item>
      <ion-item button detail (click)="logout()">
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>