ion-card {
    top: 18%;
}

ion-item {
    --highlight-color-focused: --ion-color-primary;
    --color-focused: --ion-color-primary;
    &.item-has-focus ion-label {
        color: --ion-color-primary !important;
    }
}