<ion-content>
  <span class="form">
    <h1>Create Account</h1>
    <input type="email" placeholder="Email" [(ngModel)]="email" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />
    <br>
    <ion-segment [(ngModel)]="account" style="width: 120% !important">
      <ion-segment-button value="0">
        <ion-label>Salon/Barber</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Pets</ion-label>
      </ion-segment-button>
    </ion-segment>
    <a [routerLink]="['/login']">Go Back</a>
    <button (click)="login()"><span *ngIf="!loading">Create</span>
      <span *ngIf="loading">
        <ion-spinner color="secondary" name="bubbles" color="light"></ion-spinner>
      </span>
    </button>
  </span>
  <!--<ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="john.doe@domain.com" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder="password12345" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <br>

      <ion-segment [(ngModel)]="account">
        <ion-segment-button value="0">
          <ion-label>Salon/Barber</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Pets</ion-label>
        </ion-segment-button>
      </ion-segment>

      <br>
      <ion-button expand="block" color="dark" (click)="login()">
        <span *ngIf="!loading">Create</span>
        <span *ngIf="loading">
          <ion-spinner color="secondary" name="bubbles"></ion-spinner>
        </span>
      </ion-button>
    </ion-card-content>
  </ion-card>-->

</ion-content>