<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="modalCtrl.dismiss()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Text Client</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Text Details</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Contact #</ion-label>
        <ion-input
          placeholder="123-456-7890"
          type="tel"
          [(ngModel)]="client.phone_number"
          autocapitalize="on"
          autocomplete="name"
          autocorrection="on"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Text Message</ion-label>
        <ion-textarea
          placeholder="Don't forget about your appointment at 10:30!"
          [(ngModel)]="text.message"
          autoGrow="false"
          rows="8"
          maxlength="750"
          autocapitalize="on"
        >
        </ion-textarea>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" color="dark" (click)="send()">Send </ion-button>
    <ion-button expand="block" color="light" (click)="clear()"
      >Clear
    </ion-button>
  </ion-card>
</ion-content>
