<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder="John Doe" type="text" [(ngModel)]="client.name" autocapitalize="on" autocomplete="name"
          autocorrection="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date of Last Visit</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="{{max}}" value="{{today}}"
          [(ngModel)]="client.last_visit"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contact #</ion-label>
        <ion-input placeholder="123-456-7890" type="tel" [(ngModel)]="client.phone_number" autocapitalize="on"
          autocomplete="name" autocorrection="on"></ion-input>
      </ion-item>

      <div *ngIf="accountType == 1">
        <ion-item>
          <ion-label position="floating">Breed</ion-label>
          <ion-input placeholder="Shih Tzu" type="text" [(ngModel)]="client.breed" autocapitalize="on"
            autocomplete="name" autocorrection="on"></ion-input>
        </ion-item>

      </div>
      <ion-item>
        <ion-label position="floating">Summary of Visit</ion-label>
        <ion-textarea placeholder="Cut, style, and shave" [(ngModel)]="client.summary" autoGrow="true" maxlength="750"
          autocapitalize="on">
        </ion-textarea>
      </ion-item>
      <!--<ion-button expand="block" color="dark" (click)="addPhoto()">Add Photo</ion-button>-->
    </ion-list>
  </ion-card>
  <ion-card *ngIf="accountType == 1">
    <ion-card-header>
      <ion-card-subtitle>Temperament</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="client.temperament">
        <ion-segment-button value="0">
          <ion-label>Great</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Moderate</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Aggressive</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="dark" (click)="submit()">
      <span *ngIf="!loading">Submit</span>
      <span *ngIf="loading">
        <ion-spinner color="secondary" name="bubbles"></ion-spinner>
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>