<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input placeholder="John Doe" type="text" [(ngModel)]="client.name" autocapitalize="on" autocomplete="name"
          autocorrection="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact #</ion-label>
        <ion-input placeholder="123-456-7890" type="tel" [(ngModel)]="client.phone_number" autocapitalize="on"
          autocomplete="name" autocorrection="on" (ionBlur)="formatPhone()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input placeholder="john@gmail.com" type="email" [(ngModel)]="client.email" autocomplete="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <input id="pac-input" class="controls" type="text" placeholder="Search Address" [(ngModel)]="client.address"
          style="border: none; width: 100%; background-color: #ffffff" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address 2</ion-label>
        <ion-input placeholder="Apt B4" type="text" [(ngModel)]="client.address2">
        </ion-input>
      </ion-item>
      <ion-item button (click)="addPets()">
        <ion-label>Pets <span *ngIf="client.pets">({{client.pets.length}})</span><span *ngIf="!client.pets">(0)</span>
        </ion-label>
      </ion-item>
      <ion-item button (click)="openColorPicker()">
        <ion-label>Client Color</ion-label>
        <ion-chip [ngStyle]="{'background': client.color}"> </ion-chip>
      </ion-item>
      <!--<div *ngIf="accountType == 1">
        <ion-item>
          <ion-label position="floating">Breed</ion-label>
          <ion-input placeholder="Shih Tzu" type="text" [(ngModel)]="client.breed" autocapitalize="on"
            autocomplete="name" autocorrection="on"></ion-input>
        </ion-item>
      </div>-->
      <!--<ion-button expand="block" color="dark" (click)="addPhoto()">Add Photo</ion-button>-->
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" color="dark" (click)="submit()">
      <span *ngIf="!loading">Submit</span>
      <span *ngIf="loading">
        <ion-spinner color="secondary" name="bubbles"></ion-spinner>
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>