<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="goBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark"> Clients </ion-title>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-searchbar color="light" (ionInput)="search($event.target.value)" debounce="200" showCancelButton="focus"
      (ionCancel)="resetSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button detail *ngFor="let client of storage.clients" (click)="goToApp(client)">
      <ion-avatar slot="start">
        <img src="{{client.image}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{client.name}}</h2>
        <h3 *ngIf="client.visits.length > 0">
          Last Visit: {{client.visits[0].date}}
        </h3>
        <p *ngIf="client.visits.length > 0" style="text-overflow: ellipsis">
          {{client.visits[0].summary}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>