<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Crop</ion-title>
    <ion-buttons padding-left padding-right slot="end">
      <ion-button (click)="finish()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <image-cropper style="width: 100%; height: 100%;" backgroundColor="black" [imageQuality]="100"
    [imageBase64]="imageBase64" [maintainAspectRatio]="true" [resizeToWidth]="1024" [resizeToHeight]="1024"
    [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)" outputType="base64"></image-cropper>
</ion-content>