<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" color="dark">
      <ion-button (click)="modalCtrl.dismiss()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Appointment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Details </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"
          >Date of Appointment <span style="color: red">*</span></ion-label
        >
        <ion-datetime
          displayFormat="MMM DD YY hh:mm a"
          min="{{ min }}"
          max="{{ max }}"
          value="{{ today }}"
          [(ngModel)]="app_date"
          minuteValues="0, 15, 30, 45"
        ></ion-datetime>
      </ion-item>
      <!--<ion-item>
        <ion-label>Stylist</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="stylist">
          <ion-select-option *ngFor="let item of stylists" value="{{ item }}">{{
            item
          }}</ion-select-option>
        </ion-select>
      </ion-item>-->
      <ion-item>
        <ion-label>Pet <span style="color: red">*</span></ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="pet">
          <ion-select-option
            *ngFor="let item of client.pets"
            value="{{ item.name }}"
            >{{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Service <span style="color: red">*</span></ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="service">
          <ion-select-option
            *ngFor="let item of storage.services"
            value="{{ item.id }}"
            >{{ item.name }} -
            {{ item.price }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br />
      <ion-button expand="block" color="dark" (click)="submit()">
        <span>Submit</span>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
